<div>
<% if signed_in? %>
		<%= link_to 'Sign Out', '/signout' %> 
		| <%= link_to 'Home', root_url %>
		| <%= link_to 'Your Profile', current_user %>
<% else %>
		<%= link_to 'Sign In', '/signin' %>
<% end %>
 | <%= link_to "Post Your Service", controller: "services", action: "new" %></div>