<% provide(:title, "Photos") %>
<% if @can_edit %>
  <p><%= link_to "Add photos", new_service_photo_path(@service.id) %></p>
  <p><%= link_to "Choose primary photo", service_choose_cover_path(@service.id) %></p>
<% end %>

<p><%= paginate @photos %></p>
<% @photos.each do |p| %>
  <%= image_tag p.img(:medium)  %>
<% end %>
<p><%= paginate @photos %></p>
