<%= render 'shared/error_messages' %>
<div class="form-group">
	<%= f.label :name, "Service Name" %>
    <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :price, "Price" %>
	<%= f.text_field :price, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label(:category, "Categories") %>
	<%= f.select(:category, options_for_select(Service.categories, @service.category)) %>
</div>

<div class="form-group">
    <%= f.label(:can_travel, "Willing to travel") %>
    <%= f.check_box(:can_travel) %>
</div>

<div class="form-group">
	<%= f.label :location, "Preferred location" %>
	<%= f.text_field :location, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label(:description, "Brief Description") %>
	<%= f.text_area(:description, rows: 5, class: "form-control")%>
</div>