<div>
	<h3><%= link_to @user.name, @user %></h3>
    <h5><%= link_to "Send message to #{@user.name}", messages_path(@user) if !current_user?(@user) %></h5>

	<br/>

	<%= link_to (image_tag @service.album_cover.url(:medium)), service_photos_path(@service.id) %>

	<h4>Service Name</h4>
	<p><%= @service.name %></p>

	<h5>
		<% if @user == current_user %>
			<%= link_to "Edit", edit_service_path(@service.id) %>
		<% else %>
			<%= link_to "Order Now", new_service_transaction_path(@service.id) %>
		<% end %>
	</h5>

	<br/>

	<h4>Average Rating</h4>
	<% if @service.avg_rating? %>
		<p><%= @service.avg_rating %> Stars (<%= link_to "See Reviews", controller: "services", action:"show_reviews" %>)</p>
	<% else %>
		<p>Unrated</p>
	<% end %>

	<h4>Price</h4>
	<p>$<%= @service.price %></p>

	<h4> Willing to Travel?</h4>
	<p><%= @service.can_travel.yesno %></p>

	<h4>Category</h4>
	<p><%= @service.category %><%= " (Lesson)" if @service.lesson %></p>

	<h4>Description</h4>
	<p><%= @service.description %></p>
</div>
