<div>
	<h3><%= link_to @user.name, @user %></h3>

	<br/>

	<h4>Service Name</h4>
	<p><%= @service.name %></p>

	<h4>Price</h4>
	<p>$<%= @service.price %></p>

	<h4>Category</h4>
	<p><%= Service.categories[@service.category.to_i] %></p>

	<h4>Description</h4>
	<p><%= @service.description %></p>
</div>