<% provide(:title, "Order history") %>
<h1>Your Order History</h1>
<%= paginate @orders %>
<% @orders.each do |o| %>
  Ordered <%= link_to o.service.name, service_path(o.service_id) %> on <%= o.updated_at %> for $<%= "%.2f" % o.price %>.
  <% if [:buyer_cancel, :seller_cancel].include? o.status %>
    Cancelled
  <% elsif o.review.nil? and o.status == :ok %>
  	<% if o.appt_time < Time.now %>
	    <%= link_to "Rate/review", new_service_transaction_review_path(o.service_id, o.id) %>.
	<% end %>
  <% elsif !o.review.nil?  %>
    Rated <%= o.review.rating %> out of 5.
  <% end %>
  <p>
<% end %>
<%= paginate @orders %>
