<% provide(:title, 'Order') %>
<h1>Order</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@transaction, url: service_transactions_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :appt_time, "Appointment Time" %>
      <%= f.datetime_field :appt_time %>

      <%= f.hidden_field :service_id, :value => @transaction.service.id %>

      <% if @transaction.service.can_travel %>
        <%= f.label :location, "Location (leave blank if no preference)" %>
	    <%= f.text_field :location %>
      <% end %>

      <%= f.submit "Order", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
